<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<style>
.right{
        position: absolute;
        right: 34px;
        top: 10px;
display: inline-block;
 }
 .formwork{
 color:blue;
 
 }
 
 .container h5{
font-size: 50px;
 color:black;
 font-family: 'Baloo Bhai 2';
  
 }
 .btn{
        font-family: 'Baloo Bhai 2', cursive;
        margin: 0px 9px;
        background-color: blue;
        color: white;
        text-align:center;
        }
.navbar li a{
font-family: 'Baloo Bhai 2', cursive;
color: red;
        }
.container u{
color:green;
}
    </style>
<body style="background-image:url('https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?w=2000');"> 

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">HOME</a></li>
      <li><a href="/register">REGISTER</a></li>
      <li><a href="/login">LOGIN</a></li>
      <li><a href="/about">ABOUT US</a></li>
    </ul>
  </div>
</nav>
<div class="right">
<form action="/contact" method="get" target="_blank">
         <button class="btn">contact us</button>
      </form>


</div>  
<div class="container">
       <center><u><h5>JOB PORTAL<h5></u></center>
    </div>
    <br>
<!-- bootstrap navbar -->
        <nav class="navbar sticky-top navbar-expand-lg navbar-dark">
            <div class="container-fluid">
              <a class="main-logo-img mt-3" href="#"><img src="" alt="" height="0px" width="0px">
                <!-- <a class="navbar-brand" href="index.html">JobPortal</a> -->
              </a>
        <section class="our-focus">
            <div class="container">
              <center><h1 class="text-center mt-3">.....ABOUT US.....</h1></center>
<br>
<br>
              <div class="row ml-3 mt-3">
                <div class="col-lg-3 mr-5" id="focus-first">
                  <div class="card" style="width: 19rem;">
                    <!-- <img src="assets/img/home kids.jpg" class="card-img-top" alt="..."> -->
                    <div class="card-body">
                      <h5 class="card-title">MISSION</h5>
<br>
                     <b> <p class="card-text">JOBPORTAL is an edTech organization with a vision to bridge the gap between academia & industry. Our outcome-based experiential learning programs on emerging technologies (Internet of Things, Machine Learning, Data Science, Artificial Intelligence, Robotics) are building skilled entry - level engineers, for the corporate world. .
                      </p>
                    </div>
                  </div>
                </div></b>
               <b> <div class="col-lg-3 mr-5" id="focus-second">
                  <div class="card" style="width: 20rem;">
                    <!-- <img src="assets/img/friendship day.JPG" class="card-img-top" alt="..."> -->
                    <div class="card-body">
                      <h5 class="card-title">VISSION</h5>
                      <p class="card-text">Our main objective is to bridge the existing gaps between prevailing industry standards and what the academics offer to the graduates while passing out of university. Jobportal offers suitable skill deployment and training to the young talent before on boarding their first job.

Our skill development programs are designed considering the present expectations in the industry. </p>
                    </div>
                  </div>
                </div></b>
                <b><div class="col-lg-3 ml-5" id="focus-third">
                  <div class="card" style="width: 20rem;">
                    <!-- <img src="assets/img/health camp.jpg" class="card-img-top" alt="..."> -->
                    <div class="card-body">
                      <h5 class="card-title">OBJECTIVE</h5>
                      <p class="card-text">Well directed career guidance programs for educational institutions
Appropriate certification courses that suit the industry need
Train the trainers; expanded awareness about the current industry standards
Liaise with corporates to offer niche internships
Establish technology development centers in colleges
Specialised incubation centers in collaboration with corporates</p>
                    </div>
                  </div>
                </div>
              </div>
            </div></b>
          </section>
          <!-- focus section ends -->

        <!-- footer starts -->
          <!-- Site footer -->
          <script>
  window.watsonAssistantChatOptions = {
    integrationID: "db02aed9-1627-4889-b8c4-5cf30e7ab189", // The ID of this integration.
    region: "au-syd", // The region your integration is hosted in.
    serviceInstanceID: "36d66a11-498c-4821-a1a1-6008bddc50e5", // The ID of your service instance.
    onLoad: function(instance) { instance.render(); }
  };
  setTimeout(function(){
    const t=document.createElement('script');
    t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
    document.head.appendChild(t);
  });
</script>
		  
</body>
</html>
